/**
* @param context {WebtaskContext}
*/

const _ = require('lodash');
var Client = require('instagram-private-api-aziz').V1;
module.exports = function(context, cb) {
  
  var device = new Client.Device('chapar_gram');
  var storage = new Client.CookieMemoryStorage();
  console.log('before connect');
  //Client.Request.setSocks5Proxy("vm.socadd.com", 443, 'iruser930842', '46751362');
  Client.Session.create(device, storage, 'chapargram', 'ghoreminsta').then(function (session) {
      init(session);
      //cb(null, { msg: 'done '});
  });
  
  function findAccountForUser(session, username) {
      return Client.Account.searchForUser(session, username);
  }
  
  function sendDirectMessage(session, userId, message) {
      Client.Thread.configureText(session, userId, 'یک ناشناس از اینستاگرام:' + message);
  }
  
  function init(session) {
      readMessage(session);
      console.log('finished listening to message');
  }
  
  function readMessage(session) {
      console.log('start listening to message');
      var feed = new Client.Feed.Inbox(session, 'ThreadIdGoesHere');
      feed.get()
          .then(function (results) {
              return results;
          })
          .then(function (items) {
              items.forEach(chat => {
                  chat.items.forEach(message => {
                      if (message._params.itemType == "text") {
                          console.log("User ID " + message._params.userId + "  Sent the message " + message._params.text);
                          sendReply(message._params.userId,message._params.text);
                      } else if (message._params.itemType == "link") {
                          console.log("User ID " + message._params.userId + "  Sent the message " + message.link._params.text);
                          sendReply(message._params.userId,message.link._params.text);
                      }
                  });
                  chat.hide();
              });
          });
  
      function sendReply(senderId,message) {
          //find @azizkhaniaa
          //find target user id 
          //replace to empty 
          //send to message to user id
          message = message.replace('https://www.instagram.com/', '@');
          if (message.indexOf('@') > -1) {
              let targetUserName = message.match(/(?:@)([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)/);
              if (targetUserName.length > 0) {
                  let username = targetUserName[1];
                  findAccountForUser(session, username).then(function (account) {
                      console.log(account.id);
                      sendDirectMessage(session, account.id, message.replace('@' + username, ' '));
                  });
              }
          }//when text dose not contain correct pattern reply error message 
          else {
              sendIncorrectFormatMessage(senderId);
          }
      }
  
      function sendIncorrectFormatMessage(senderId) {
          sendDirectMessage(session, senderId, 'گیرنده در پیام ارسال نشده است');
      }
  }

  
};